.git
.gitignore
.turbo
out
.env
.env.local
.env.*.local
node_modules
pnpm-store
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
nginx/certs/*
!nginx/certs/.gitignore
!nginx/certs/README.md

**/.turbo
**/node_modules
**/.next
**/dist
**/coverage
