virtual-store-dir-max-length=60
node-linker=hoisted
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@prisma*
public-hoist-pattern[]=*napi*
public-hoist-pattern[]=*better-auth*
strict-peer-dependencies=false
auto-install-peers=true